<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row *ngIf="photos$" class="photos-container">
      <ion-col *ngFor="let photo of photos$ | async" sizeLg="4" sizeMd="6" sizeSm="12" >
        <!-- {{photo | json}} -->
        <app-photo (click)="favoritePhoto(photo)" [photo]="photo"></app-photo>
      </ion-col>

      <!-- <ion-col sizeLg="4" sizeMd="6" sizeSm="12">
        <app-photo></app-photo>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="6" sizeSm="12">
        <app-photo></app-photo>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="6" sizeSm="12">
        <app-photo></app-photo>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="6" sizeSm="12">
        <app-photo></app-photo>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="6" sizeSm="12">
        <app-photo></app-photo>
      </ion-col> -->      
    </ion-row>
    <!-- <ion-row>
    </ion-row> -->

  </ion-grid>
  
  <div (scroll)="addPhotos()" class="infinite-scroll"></div>
  
</ion-content>


