<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row
      *ngIf="(favoritePhotos$ | async | keyvalue)?.length; else noFavorites"
      class="photos-container"
    >
      <ion-col
        *ngFor="let photo of favoritePhotos$ | async"
        sizeLg="4"
        sizeMd="6"
        sizeSm="12"
      >
        <app-photo
          (click)="removeFavoritePhoto(photo)"
          [photo]="photo"
        ></app-photo>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>ng test app

<ng-template #noFavorites>
  <ion-content [fullscreen]="true" class="no-favorites-container">
    <h2>No Favorite Photos</h2>
  </ion-content>
</ng-template>
